<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">HOT NEWS</a>
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav text-white">
          <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
          <a class="nav-link text-white" href="#">BBC</a>
          <a class="nav-link text-white" href="#">CNN</a>
          <a class="nav-link  text-white">ALJAZEERA</a>
        </div>
      </div>
    </div>
  </nav>